# this file lists all directories/files that should be ignored

## for v223
v223/.ipynb_checkpoints
v223/__pycache__


## for v232
v232/.ipynb_checkpoints
v232/__pycache__

## for v233
v233/.ipynb_checkpoints
v233/__pycache__

## for v223
v234/.ipynb_checkpoints
v234/__pycache__

## for v212
v212/.ipynb_checkpoints
v212/__pycache__

